/* .editbtn{
    border:none;
    background-color:white;
    color:grey;
}

.editbtn:hover{
 color:black;
 width:100px;
} */






.check {
  display: flex;
  justify-content: space-between;
}

.img{
    width:785;
}

/* .wrap{
    padding-left:calc(50%-20rem);
} */
